/*
----FONTS ----
 */

@import url('https://fonts.googleapis.com/css?family=Roboto|Cuprum');

.font-header {
  font-family: 'Cuprum', sans-serif;
  color: white;
  font-size: 40px;
}

.font-body {
  font-family: 'Roboto', serif;
}

a {
  text-decoration: none;
  color: inherit;
}
p {
  margin-top: 10px;
}

.background-img {
  background-image: url(../../assets/images/adam-smotkin-973902-unsplash.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  margin-top: -20px;
}

.view-button {
    border-radius: 5%;
    margin: 100px 0 0 70px;
    height: 35px;
    width: 75px;
}
.view-button:hover {
    transform: scale(1.2);
    transform-origin: bottom 10px;
    transition-delay: 100ms;
    transition-timing-function: ease-in-out;
}

.card {
  min-height: 250px;
  height: auto;
  margin: 25px 5px 25px 5px;
}

.card-title {
  font-family: 'Cuprum', sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin: 25px;
  color: rgb(146, 25, 16);
}

.card-text {
  font-family: 'Roboto', sans-serif;
  margin: 15px;
}

.btn {
  color: black;
  font-weight: 700;
  box-shadow: 10px 5px 5px grey;
  margin: 15px;
}
.card-body-shadow {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
span {
  font-weight: 800;
}