<div class="background-img">
  <div class="container text-center" style="margin-top: 70px;">
    <h1 class="text-center lead font-header">Government Jobs</h1>
    <div class="container-fluid text-center">
      <!-- Job Card Starts -->
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12" *ngFor="let job of jobs">
            <div class="card text-center">
              <div class="card-body font-body card-body-shadow">
                <h4 class="card-title">{{ job?.position_title | titlecase }}</h4>
                <p class="card-text"><span>Employer:</span> {{ job?.organization_name }}</p>
                <p class="card-text"><span>Locations:</span> {{ job?.locations }}</p>
<p class="card-text"><span>Posted on:</span> {{ job?.start_date | date:"MM/dd/yy" }}</p>
<p class="card-text"><span>Expires on:</span> {{ job?.end_date |
                  date:"MM/dd/yy" }}</p>
<p class="card-text" alt="No salary information available"><span>Starting At:</span> {{ job?.minimum | currency }}</p>
                <a href="{{ job?.url}}" target="_blank" class="btn btn-info">See Job Posting</a>
              </div>
            </div>
          </div>
          <!-- job card ends-->
        </div>
      </div>
    </div>
